// Color Variables

$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-dark-gray: #777;
$color-dark-gray-1: #eee;
$color-dark-gray-2: #999;
$color-light-gray-1: #f7f7f7f7;

$color-white: #fff;
$color-black: #000;

// Font Sizes

$deafult-font-size: 1.6rem;

//  Grid Variables

$row-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
