.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    cursor: pointer;
    background-color: $color-white;
    padding: 1.5rem 4rem;
    text-decoration: none;
    color: $color-dark-gray;
    font-size: $deafult-font-size;
    text-transform: uppercase;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    // Changes for the <button>
    cursor: pointer;
    border: 0;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: 0;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
    opacity: 1;
  }
  &__green {
    color: $color-white !important;
    background-image: linear-gradient(
      to right,
      $primary-color-dark,
      $primary-color-light
    );
    &::after {
      background-color: $primary-color;
    }
  }

  &__white {
    color: $color-dark-gray;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &__animated {
    animation-name: moveInBottom;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }

  &-about {
    &:link,
    &:visited {
      display: inline-block;
      font-size: $deafult-font-size;
      text-decoration: none;
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      padding: 3px;
      transition: all 0.3s;
    }
    &:hover {
      background-color: $primary-color;
      color: #fff;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(0px);
    }
  }
}
